body  
{  
    margin: 0;  
    padding: 0;   
    /*background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 48%, rgba(41,165,197,1) 74%, rgba(9,64,121,1) 88%, rgba(66,164,210,0.72919590199361) 100%, rgba(66,164,210,0.72919590199361) 100%, rgba(66,164,210,0.72919590199361) 197%);
    font-family: 'Arial';
    border-color: #BFFF00;
    */
    background-color: #343434;
    font-family: Andale Mono,AndaleMono,monospace;
    color: #C8C8C8; 

}  
h1{  
    text-align: center;  
    color: #C8C8C8;
    color: #bfff00af; 
    border-radius: 20px;
    font-family: Andale Mono,AndaleMono,monospace;
    font-size: 3em;
} 

.box1 { 
    width: 300px;
    border: 5px solid;
    padding: 10px;
    margin: 10px;
    border-color: #f5f5dc;
}

.container{
    display: inline-flex;
    flex-direction: column;
}
